p{
    color:aquamarine;
    font-size: 18px;
    background-color:blueviolet;
}

div{
    background-color:blueviolet;
    color:aquamarine;
    font-size: 18px;
}

.segunda-etapa{
    background-color:aqua;
    font-size: 18px;
    color:blueviolet;
    text-align:center;
    line-height: 48px;
    padding: 32px;
}
.imagem{
    max-height: 240px;
    border-radius: 460px;
    align-items: center;
}

.terceira-etapa{
    background-color: bisque;
    font-size: 18px;
    color:blue;
}
.paragrafo-artigo{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    font-size: 18px;
    color:blue;
}
